## Ignore ##
vendor/
wp/
content/upgrade/
content/backup-db/
content/advanced-cache.php
content/wp-cache-config.php
sitemap.xml
*.log
*.sql
content/cache/
content/backups/
sitemap.xml.gz
local-config.php
